// ==========================================================================
// VARIABLES
// ==========================================================================

$color-white: #fff;
$color-red-primary: #990000;
$color-red-secondary: #d88587;
$color-gray-primary: #333;
$color-gray-line: #dbdbdb;